body {
  background-color: rgb(243, 231, 217);
}

h2 {
  color: rgb(78, 140, 240);
}

.button{
  margin-left: 5px;
}

.button:hover {
  background-color: rgb(193, 193, 241);
}

.city-name-render {
  text-align: center;
}

.render-container {
  display: flex;
}

.spark-box {
  flex: 1;
  margin: 5px;
  border: rgb(75, 74, 74);
}
